@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');


html{
  scroll-behavior: smooth;
}
body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}
i{
    font: 14px;
}
.wrapper{
    position: relative;
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
@font-face{
  
font-family:quentinregular;
src:url(../fonts/quentin-webfont.eot);
src:url(../fonts/quentin-webfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/quentin-webfont.woff2) format("woff2"),
    url(../fonts/quentin-webfont.woff) format("woff"),
    url(../fonts/quentin-webfont.ttf) format("truetype"),
    url(../fonts/quentin-webfont.svg#quentinregular) format("svg");
}
// h1{
//     text-align: center;
//     font-family: quentinregular;
//     font-size: 66px;
//     color: #fa7598;
// }