.bg_home{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../../images/bg_home.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    .menu{
        width: 15%;
        position: sticky;
        top: 50px;
        height: 100%;
        z-index: 4;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        ul{
            li{
                margin: 0 0 10px 0;
                a{
                    display: block;
                    color: #ccc;
                    font-family: 'Red Hat Display', sans-serif;
                    font-weight: bold;
                    font-size: 14px;
                    transition: all 0.5s linear;
                    &.active{
                        color:#23292f;
                        transition: all 0.5s linear;
                    }
                    &.logo_menu{
                        width: 50px;
                        height: 36px;
                        background: url('../../images/bootlab-simbolo-claro.png') no-repeat;
                        margin-bottom: 20px;
                        transition: all 0.5s linear;
                        &.active{
                            background: url('../../images/bootlab-simbolo-escuro.png') no-repeat;
                            transition: all 0.5s linear;
                        }

                    }
                }
            }
        }
    }
    .content{
        width: 85%;
        @media only screen and (max-width: 768px) {
            width: 100%;
            padding: 0 15px;
        }
        .logo{
            position: absolute;
            top: 50px;
        }
        .home{
            height: 100vh;
            display: flex;
            align-items: center;
            .title{
                display: flex;
                align-items: center;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                    justify-content: center;
                    height: 60vw;
                    align-items: stretch;
                    padding-top: 20px;
                }
                h1{
                    color: #fff;;
                    font-size: 80px;
                    line-height: 1;
                    letter-spacing: -2px;
                    @media only screen and (max-width: 768px) {
                        font-size: 34px;
                        max-width: 285px;
                    }
                    span{
                        color: #3eb96c;
                        &#log{
                            &:after{
                                content: '|';
                                font-weight: 100;
                                margin-left: 5px;
                                margin-top: -20px;
                                opacity: 1;
                                animation: pisca 0.7s infinite;
                            }
                        }
                    }
                }
            }
        }
        .studio{
            position: relative;
            background: #e8eadb;
            .circle{
                margin-top: 70px;  
                background: url('../../images/circle.png');
                width: 1091px;
                height: 691px;
                object-fit: contain;
                @media only screen and (max-width: 768px) {
                    background: url('../../images/circle_mobile.png') no-repeat;
                    width: 326px;
                    height: 148px;
                    object-fit: contain;
                    margin-top: 30px;  
                }
            }
            .description{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 150px;
                padding-left: 165px;
                @media only screen and (max-width: 768px) {
                    margin-top: 50px;
                    padding-left: 0;
                }
                .midarea{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    @media only screen and (max-width: 768px) {
                        margin-top: 0;
                        padding-left: 0;
                        flex-wrap: wrap;
                    }
                    h2{
                        font-family: 'Red Hat Display', sans-serif;
                        font-size: 45px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.02;
                        letter-spacing: -1px;
                        color: #23292f;
                        width: 50%;
                        @media only screen and (max-width: 768px) {
                            margin-bottom: 30px;
                            width: 100%;
                        }
                    }
                    p{
                        font-family: 'Red Hat Display', sans-serif;
                        font-size: 22px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.27;
                        letter-spacing: normal;
                        color: #23292f;
                        width: 50%;
                        padding: 0 39px;
                        @media only screen and (max-width: 768px) {
                            width: 100%;
                            padding: 0;
                        }
                    }
                }
            }
            .box{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-top: 70px;
                @media only screen and (max-width: 768px) {
                    margin-top: 50px;
                }
                .midarea{
                    width: 970px;
                    border-top: 1px solid #9b9e98;
                    border-bottom: 1px solid #9b9e98;
                    padding: 60px 30px 60px 0;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        padding: 0;
                        border: 0;
                    }
                    .container{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media only screen and (max-width: 768px) {
                           flex-wrap: wrap;
                        }
                        .item{
                            width: 50%;
                            display: flex;
                            justify-content: flex-end;
                            padding-right: 15px;
                            @media only screen and (max-width: 768px) {
                                padding: 0;
                                width: 100%;
                                justify-content: flex-start;
                            }
                            &:first-child{
                                margin-left: 105px;
                                @media only screen and (max-width: 768px) {
                                    margin-left: 0;
                                    order: 2;
                                }
                            }
                            .text{
                                padding-right: 40px;
                                p{
                                    font-family: 'Red Hat Display', sans-serif;
                                    font-size: 22px;
                                    font-weight: normal;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.27;
                                    letter-spacing: normal;
                                    color: #23292f;
                                    &:first-child{
                                        margin-bottom: 30px;
                                    }
                                }
                            }
                            h2{
                                font-family: 'Red Hat Display', sans-serif;
                                font-size: 45px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.02;
                                letter-spacing: -1px;
                                color: #23292f;
                                @media only screen and (max-width: 768px) {
                                   margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
            }
            .animed{
                padding-top: 130px;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                @media only screen and (max-width: 768px) {
                    margin-top: 0px;
                    justify-content: flex-start;
                    padding-top: 0;
                 }
                .animate{
                    width: 100%;
                    height: 295px;
                    @media only screen and (max-width: 768px) {
                        height: 130px;
                        margin-bottom: 30px;
                    }
                    .bg_animate{
                        width: 1%;
                        height: 295px;
                        background: url('../../images/animed.png') no-repeat;
                        margin-left: 51px;
                        @media only screen and (max-width: 768px) {
                            width: 100%;
                            height: 130px;
                            background: url('../../images/animed_mobile.png') no-repeat;
                            margin-left: 0;
                         }
                        &.active{
                            width: 95%;
                            -webkit-animation-name: image_full; /* Safari 4.0 - 8.0 */
                            -webkit-animation-duration: 2.3s; /* Safari 4.0 - 8.0 */
                            animation-name: image_full;
                            animation-duration: 2.3s;
                        }
                    }
                }
                .midarea{
                    padding-left: 160px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    @media only screen and (max-width: 768px) {
                       padding-left: 0;
                       flex-wrap: wrap;
                    }
                    h2{
                        font-family: 'Red Hat Display', sans-serif;
                        font-size: 45px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.02;
                        letter-spacing: -1px;
                        color: #23292f;
                    }
                    .text{
                        margin-top: 70px;
                        @media only screen and (max-width: 768px) {
                            margin-bottom: 0px;
                            margin-top: 30px;
                        }
                        p{
                            font-family: 'Red Hat Display', sans-serif;
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.27;
                            letter-spacing: normal;
                            color: #23292f;
                            margin-bottom: 30px;
                            @media only screen and (max-width: 768px) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
            .services{
                margin: 100px 0 0 0;
                display: flex;
                justify-content: flex-end;
                @media only screen and (max-width: 768px) {
                    margin: 50px 0 0 0;
                }
                .slider_box{
                    width: 100%;
                    // .slick-list{
                    //     .slick-track{
                    //         .slick-slide {
                    //             width: 800px !important;
                    //             margin-left: 80px;                  
                    //         }
                    //     }
                    // }
                    .item{
                        width: 800px !important;
                        @media only screen and (max-width: 768px) {
                            display: block;
                            width: 100% !important;
                            margin-bottom: 30px;
                        }
                        .space{
                            h2{
                                font-size: 22px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.27;
                                letter-spacing: normal;
                                color: #23292f;
                                margin-top: 30px;
                                margin-bottom: 10px;
                                padding: 0 110px 0 160px;
                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                    margin: 0;
                                    margin-top: 30px;
                                }
                            }
                            p{
                                padding: 0 110px 0 160px;
                                font-size: 22px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.27;
                                letter-spacing: normal;
                                color: #23292f;
                                @media only screen and (max-width: 768px) {
                                    padding: 0;
                                    font-size: 16px;
                                    margin-top: 30px;
                                }
                                br{
                                    @media only screen and (max-width: 768px) {
                                        display: none;
                                    }
                                }
                            }
                            &.green{
                                width: 100%;
                                &:before{
                                    content: ' ';
                                    display: block;
                                    width: 100%;
                                    height: 150px;
                                    background: #3eb96c;
                                    @media only screen and (max-width: 768px) {
                                        height: 60px;
                                    }
                                }
                            }
                            &.orange{
                                width: 100%;
                                &:before{
                                    content: ' ';
                                    display: block;
                                    width: 100%;
                                    height: 150px;
                                    background: #f25917;
                                    @media only screen and (max-width: 768px) {
                                        height: 60px;
                                    }
                    
                                }
                            }
                            &.yellow{
                                width: 100%;
                                &:before{
                                    content: ' ';
                                    display: block;
                                    width: 100%;
                                    height: 150px;
                                    background: #ffc84c;
                                    @media only screen and (max-width: 768px) {
                                        height: 60px;
                                    }
                                }
                            }
                            &.blue{
                                width: 100%;
                                &:before{
                                    content: ' ';
                                    display: block;
                                    width: 100%;
                                    height: 150px;
                                    background: #3e83f9;
                                    @media only screen and (max-width: 768px) {
                                        height: 60px;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
            .make{
                width: 100%;
                padding-top: 150px;
                margin-bottom:150px;
                @media only screen and (max-width: 768px) {
                    margin-bottom: 0px;
                    padding: 0;
                }
                h2{
                    font-size: 60px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.92;
                    letter-spacing: -1.5px;
                    color: #23292f;
                    margin-top: 50px;
                    padding: 0 160px;
                    @media only screen and (max-width: 768px) {
                        margin: 0;
                        padding: 0;
                        margin-bottom: 30px;
                    }
                }
                .step{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 55px 100px;
                    @media only screen and (max-width: 768px) {
                        padding: 0;
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                    }
                    &.one{
                        border-bottom: 1px solid #9b9e98;
                    }
                    p{
                        width: 70%;
                        font-size: 22px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.27;
                        letter-spacing: normal;
                        color: #23292f;
                        padding: 0 0 0 60px;
                        @media only screen and (max-width: 768px) {
                           padding: 0;
                           order: 2;
                           line-height: 1.4;
                           
                        }
                        br{
                            @media only screen and (max-width: 768px) {

                                display: none;
                             }
                        }
                    }
                    h3{
                        width: 30%;
                        font-size: 140px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        @media only screen and (max-width: 768px) {
                            font-size: 110px;
                            width: 15%;
                        }
                        &.orange{
                            color: #f25917;
                        }
                        &.green{
                            color: #3eb96c;
                        }
                        &.yellow{
                            color: #ffc84c;
                        }
                    }
                }
            }
        }
    }
}
.contact{
    background: #23292f;
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
        padding: 1px 15px 50px 15px;
    }
    .wrapper_contact{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .title{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            h2{
                width: 85%;
                font-size: 60px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.92;
                letter-spacing: -1.5px;
                color: #ffffff;
                margin-bottom: 100px;
                padding-left: 160px;
                @media only screen and (max-width: 768px) {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    margin-bottom: 30px;
                }
                br{
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
            .item{
                width: 500px;
                height: 184px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media only screen and (max-width: 768px) {
                    width: 100%;
                    flex-wrap: wrap;
                }
                &:first-child{
                    width: 700px;
                    background: url('../../images/group.png') no-repeat;
                    justify-content: flex-end;
                    padding: 0 30px;
                    align-items: center;
                    @media only screen and (max-width: 768px) {
                        background: #3eb96c;
                        width: 100%;
                    }
                    p{
                        width: 50%;
                        @media only screen and (max-width: 768px) {
                            width: 100%;
                        }
                    }
                }
                p{
                    font-size: 22px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    color: #ffffff;
                    &.small{
                        font-size: 18px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.39;
                        letter-spacing: normal;
                        color: #ffffff;
                    }
                    span{
                        color: #3eb96c;
                        font-weight: bold;
                        font-size: 18px;
                        
                    }
                }
            }
        }
        .form{
            margin-top: 70px;
            @media only screen and (max-width: 768px) {
                margin-top: 10px;
            }
            form{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .fields{
                    width: 71%;
                    font-size: 21px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    color: #9c9d9f;
                    @media only screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 20px;
                    }
                    input{
                        width: 318px;
                        padding: 10px;
                        background-color: #2d3238;
                        border: 0;
                        color: #fff;
                        @media only screen and (max-width: 768px) {
                            width: 100%;
                            margin: 10px 0;
                            font-size: 20px;
                        }
                        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #bcbcbc;
                            opacity: 1;
                            @media only screen and (max-width: 768px) {
                                font-size: 20px;
                            }
                          }
                          
                          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #bcbcbc;
                            @media only screen and (max-width: 768px) {
                                font-size: 20px;
                            }
                          }
                          
                          &::-ms-input-placeholder { /* Microsoft Edge */
                            font-size: 22px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #bcbcbc;
                            @media only screen and (max-width: 768px) {
                                font-size: 20px;
                            }
                          }
                    }
                    button{
                        width: 131px;
                        height: 68px;
                        border-radius: 8px;
                        border: solid 1px #646464;
                        font-size: 18px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.56;
                        letter-spacing: normal;
                        text-align: center;
                        color: #3eb96c;
                        background: transparent;
                        cursor: pointer;
                        @media only screen and (max-width: 768px) {
                            width: 100%;
                            margin-top: 30px;
                        }
                    }
                    br{
                        @media only screen and (max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.footer{
    padding: 30px 0;
    @media only screen and (max-width: 768px) {
        padding: 30px 15px;
    }
    .wrapper{
        .box{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
            .item{
                @media only screen and (max-width: 768px) {
                    margin: 15px 0;
                }
                img{

                }
                p{
                    font-size: 22px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    color: #23292f;
                    a{
                        font-size: 22px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.27;
                        letter-spacing: normal;
                        color: #3eb96c;
                        @media only screen and (max-width: 768px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background: #646464;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .blue{
        width: 50px;
        height: 50px;
        background: #3e83f9;
        margin-right: 10px;
        animation: load 1s infinite;
        animation-delay: 1s;
    }
    .yellow{
        width: 50px;
        height: 50px;
        background: #ffc84c;
        margin-right: 10px;
        animation: load 1s infinite;
        animation-delay: 1.4s;
    }
    .orange{
        width: 50px;
        height: 50px;
        background: #f25917;
        margin-right: 10px;
        animation: load 1s infinite;
        animation-delay: 1.6s;
    }
    .green{
        width: 50px;
        height: 50px;
        background:#3eb96c;
        animation: load 1s infinite;
        animation-delay: 2s;
    }
}
// animate
@-webkit-keyframes image_full {
    from {width: 1%;}
    to {width: 100%;}
  }
  
  /* Standard syntax */
  @keyframes image_full {
    from {width: 1%;}
    to {width: 100%;}
  }
  @-webkit-keyframes pisca {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes pisca {
      0%, 100% {
          opacity: 1;
      }
      50%{
          opacity: 0;
      }
  }
  @-webkit-keyframes pisca {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes load {
      0%, 100% {
          opacity: 1;
      }
      50%{
          opacity: .5;
      }
  }

h2{
    @media only screen and (max-width: 768px) {
        font-size: 34px !important;
    }
}
p{
    @media only screen and (max-width: 768px) {
        font-size: 17px !important;
        line-height: 1.4 !important;
        br{
            display: none !important;
        }
    }
}
.title_mobile{
    display: none;
    font-size: 14px !important;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f25917;
    margin-top: 50px;
    margin-bottom: 30px;
    @media only screen and (max-width: 768px) {
        display: block;
    }
}