.services{
    .banner{
        max-height: 700px;
        height: 700px;
        .item{
            img{
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }       
    }
    .content{
        .wrapper{
            .box{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                position: relative;
                .title_bg{
                    font-size: 225px;
                    opacity: .2;
                    color: #ec789a;
                    font-family: quentinregular;
                    font-style: normal;
                    font-weight: 100;
                }
                .item{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    .subtitle{
                        text-align: center;
                        display: block;
                        color: black;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: .25em;
                        line-height: 1.33em;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    
                    }
                    .title{
                        font-size: 45px;
                        margin-bottom: 28px;
                        font-weight: 700;
                        letter-spacing: .025em;
                        text-transform: uppercase;
                        color: black;
                        text-align: center;
                        @media only screen and (max-width: 600px) {
                            font-size: 30px;
                        }
                    }
                }
            }
            .tabs{
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .menu_tabs{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    @media only screen and (max-width: 600px) {
                        justify-content: flex-start;
                    }
                    ul{
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media only screen and (max-width: 600px) {
                            width: 100%;
                            flex-wrap: wrap;
                        }
                        li {
                            white-space: nowrap;
                            color: #000;
                            font-size: 12px;
                            font-weight: 500;
                            letter-spacing: .25em;
                            line-height: 1.33em;
                            text-transform: uppercase;
                            cursor: pointer;
                            @media only screen and (max-width: 600px) {
                                width: 50%;
                                padding: 10px 0;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                }
                .box_tabs{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 0 100px 0;
                    flex-wrap: wrap;
                    @media only screen and (max-width: 600px) {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .item_tab{
                        width: 280px;
                        height: 300px;
                        background: #f4f6f8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 30px;
                        .bg{
                            background: #fa7598;
                            width: 80%;
                            height: 80%;
                            transition: all .5s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            &:hover{
                                width: 85%;
                                height: 85%;
                                transition: all .5s;
                            }
                            .title{
                                width: 100%;
                                text-align: center;
                                color: #fff;
                                font-weight: 700;
                                letter-spacing: .025em;
                                text-transform: uppercase;
                                font-size: 18px;
                            }
                            .subtitle{
                                display: block;
                                width: 100%;
                                text-align: center;
                                color: #fff;
                                font-size: 12px;
                                font-weight: 500;
                                letter-spacing: .25em;
                                line-height: 1.33em;
                                text-transform: uppercase;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}