include head.pug
body
    include header.pug
    .about
        section.banner
            .item
                img(src="../images/home/big_video.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle BRASIL • DESDE 2015
                        h2.title Sobre nós
                .text
                    p Transformando o universo do olhar, desde 2007, a Wiñk tem como missão dar a todas as mulheres a possibilidade de terem um olhar mais marcante, adaptado às suas feições. O olhar que marca!
                    p Em 2015, iniciou a sua expansão para o Brasil e para o mercado Ibérico. Abriu sua primeira loja no Rio de Janeiro, no Shopping Downtown, e o seu primeiro quiosque no Botafogo Praia Shopping. No ano seguinte, inaugura o quiosque no Shopping RioSul e continua o seu plano de expansão pelos estados do Rio de Janeiro e Minas Gerais, atingindo atualmente 15 lojas nesses estados.
                    p Pioneira no método de Threading (depilação com linha) e especialista em todos os serviços de cílios e sobrancelhas, a Wiñk cumpre a promessa de simplificar a vida de todas as mulheres, através de seus espaços confortáveis, limpos e que oferecem uma equipe profissional preparada para aconselhar e responder às necessidades e desejos de cada cliente.
                    p Venha na Wiñk e transforme o seu olhar! Esperamos por você!
        include footer_lojas.pug
                
    include footer.pug