include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 COLORAÇÃO LABIAL
        .wrapper
            .content
                .box
                    .item
                        //- .media
                        //-     img(src="../images/product/THREADING_ANTES.jpg", alt="")
                        //- .media
                        //-     img(src="../images/product/THREADING_DEPOIS.jpg", alt="")
                        //- .video
                        //-     <iframe width="533" height="300" src="https://www.youtube.com/embed/_cdVg6XP_cs" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p Consiste na micropigmentação da mucosa labial. Através do efeito visual é possível corrigir o formato dos lábios, aumentar o seu volume, uniformizar ou dar nova coloração (efeito batom), tornando-os mais jovens e atraentes.