include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 COLORAÇÃO DE SOBRANCELHAS
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/COLORACAO_ANTES.jpg", alt="")
                        .media
                            img(src="../images/product/COLORACAO_DEPOIS.jpg", alt="")
                        //- .video
                        //-     <iframe width="533" height="300" src="https://www.youtube.com/embed/_cdVg6XP_cs" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p Serviço indicado para todas as pessoas, exceto grávidas, que queiram solucionar o drama dos pelos brancos e/ou da cor da sobrancelha. A tinta usada é desenvolvida especialmente para as sobrancelhas, sem risco de perda de pelo. Se você procura um efeito natural, a coloração é o serviço recomendado.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 30 minutos
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 1/2 meses
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Sobrancelhas sem pelo branco e com a cor desejada