include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 CONTORNO DE OLHOS
        .wrapper
            .content
                .box
                    .item
                        //- .media
                        //-     img(src="../images/product/THREADING_ANTES.jpg", alt="")
                        //- .media
                        //-     img(src="../images/product/THREADING_DEPOIS.jpg", alt="")
                        //- .video
                        //-     <iframe width="533" height="300" src="https://www.youtube.com/embed/_cdVg6XP_cs" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p O contorno dos olhos tem a finalidade de tornar o olhar mais expressivo e marcante ou mesmo natural, sem o desconforto da maquiagem ‘’borrada’’.
                        p Para o serviço de contorno de olhos é utilizada a mesma técnica da Dermopigmentação.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 1 hora
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 6 meses - 1 ano
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Olhar + marcante