include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 DERMOPIGMENTAÇÃO
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/demorpigmentacao.png", alt="")
                        .video
                            <iframe width="533" height="300" src="https://www.youtube.com/embed/cHcslwqWJnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p A Dermopigmentação consiste em uma técnica que pretende atender à necessidade de cada cliente, independentemente do seu tipo de pele e idade. Indicada para casos em que existe ausência total ou parcial de pelos nas sobrancelhas, devolvendo, assim, expressão e confiança ao olhar.
                        p Este procedimento é utilizado também para corrigir assimetrias do rosto, nas sobrancelhas, olhos e lábios. Para mulheres que pretendam tornar o seu dia a dia mais prático, a Dermopigmentação pode ser realizada como forma de maquiagem semipermanente, valorizando e evidenciando os traços do rosto.
                        p A técnica se baseia na introdução de pigmento de origem mineral, pigmento esse antibacteriano, sem conservantes e anti-inflamatório, através da camada superior da derme. O seu tempo de duração na pele varia entre 1 e 2 anos. Trata-se igualmente de um método totalmente seguro e praticamente indolor.
                        p Antes de cada procedimento, é feita uma avaliação criteriosa que permite à cliente, juntamente com a sua técnica especializada, escolher a forma, a cor e o método a ser realizado.
                        h3.title_content COMO FUNCIONA?
                        p O procedimento divide-se em 2 sessões (sessão inicial e retoque, com intervalo de 30-45 dias) e a sua duração pode variar entre 1 a 2 anos. O retoque é gratuito até 30-45 dias, após a primeira sessão. Após 45 dias e até 1 ano, o retoque será 50% do valor.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 2 horas
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 1 a 2 anos
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Sobrancelhas + definidas + preenchidas
                            //- .info_item
                            //-     i.fa.fa-location-arrow
                            //-     .text
                            //-         p.title_info ONDE FAZER
                            //-         p.text_info Em todas as lojas Wiñk