include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 DESONDULAÇÃO DE SOBRANCELHAS
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/DESONDULACAO_ANTES.jpg", alt="")
                        .media
                            img(src="../images/product/DESONDULACAO_DEPOIS.jpg", alt="")
                        .video
                            <iframe width="533" height="300" src="https://www.youtube.com/embed/irJOpM4CNc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p Desondulação – Este serviço é também conhecido como alisamento de sobrancelhas, um procedimento no qual utilizamos um produto desenvolvido especificamente para ajudar a desencaracolar e alisar os pelos rebeldes das sobrancelhas, sem o risco de danificá-los. Ideal para quem pretende ter sobrancelhas definidas, lisas e disciplinadas.
                        //- h3.title_content Vantagens
                        //- .check
                        //-     .check_item
                        //-         i.fa.fa-check-circle
                        //-         p Delicado para a pele (não permite que ocorram irritações, vermelhidão e lesões nas zonas depiladas. Não há risco de queimadura, não deixa marcas, ideal para peles sensíveis);
                        //-     .check_item
                        //-         i.fa.fa-check-circle
                        //-         p Rápido e pouco doloroso (não puxa nem agarra a pele);
                        //-     .check_item
                        //-         i.fa.fa-check-circle
                        //-         p Remove os pelos pela raiz;
                        //-     .check_item
                        //-         i.fa.fa-check-circle
                        //-         p Melhor definição das suas sobrancelhas;
                        //-     .check_item
                        //-         i.fa.fa-check-circle
                        //-         p Natural e higiênico (não são usados produtos agressivos para a pele e no fim de cada utilização o fio vai para o lixo, nunca sendo reutilizado);
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 25 minutos
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 2 meses
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Sobrancelhas + lisas e disciplinadas
                            .info_item
                                i.fa.fa-location-arrow
                                .text
                                    p.title_info ONDE FAZER
                                    p.text_info Em todas as lojas Wiñk