footer
    .wrapper
        .box
            .item
                .logo
                    img(src="../images/logo_bar.png", alt="")
                    p O olhar que marca.
                p Sede: Av. das Américas, 500- Bloco: 2 Sala:<br>119 Rio de Janeiro – RJ
                p contato@winkbrasil.com.br
                p (21) 3596-2657
                .social
                    a(href="https://web.facebook.com/winkbrows.br/?_rdc=1&_rdr")
                        i.fab.fa-facebook-f
                    a(href="https://www.instagram.com/wink_br/")
                        i.fab.fa-instagram
                    a(href="https://br.pinterest.com/winkbrows/")
                        i.fab.fa-pinterest
                    a(href="https://www.youtube.com/channel/UCM5fgihwlLIjcLSxvnkkXgA/videos")
                        i.fab.fa-youtube
            .item
                h2 MAPA
                img(src="../images/mapa_footer.png", alt="")
            .item
                ul
                    li
                        a(href=" ") Programa de Fidelidade
                    li
                        a(href=" ") Política de Privacidade
                    li
                        a(href=" ") Termos e Condições Gerais de Venda
#mask