.footer_lojas
    .wrapper
        .box
            .item
                h2.title_bg Lojas
                .content
                    h2.title 34
                    span.subtitle LOJAS & QUIOSQUES EM PORTUGAL
            .item
                h2.title_bg Lojas
                .content
                    h2.title 15
                    span.subtitle LOJAS & QUIOSQUES EM BRASIL
            .item
                h2.title_bg Lojas
                .content
                    h2.title 1
                    span.subtitle LOJAS & QUIOSQUES EM ESPANHA
            .item
                h2.title_bg Lojas
                .content
                    h2.title 1
                    span.subtitle LOJAS & QUIOSQUES EM ANGOLA