include head.pug
body
    include header.pug
    .franchising
        section.banner
            .item
                img(src="../images/banner-franchising.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle franchising Wiñk
                        h2.title franchising
                .text
                    P <strong>MARCA PIONEIRA E DE REFERÊNCIA NO MERCADO</strong>
                    p Devido ao sucesso das lojas Wiñk nos últimos 12 anos, criou-se o grupo Wiñk Franchising. A proposta de um excelente serviço, aliado a um padrão de qualidade, formação e excelência fortalecido ao longo do nosso percurso, que conquistou com sucesso o mercado europeu.
                    p <strong>TRAINING & SUPPORT</strong>
                    p A Wiñk disponibiliza um centro de formação onde os colaboradores recebem todo o conhecimento e técnica necessários.
                    p <strong>TÉCNICA EXCLUSIVA</strong>
                    p A técnica Wiñk é exclusivamente desenvolvida pelo departamento de design de sobrancelhas, com profissionais especializados na área. E consiste em depilar e colorir, de acordo com o tipo de face e gosto pessoal, levando-se em conta os aspectos como o tipo e cor dos pelos, forma do rosto, simetria e identidade pessoal.
                    p <strong>LOJA COM DESIGN SUPERIOR</strong>
                    p As lojas apresentam um layout moderno e feminino, aliado a uma equipe com alta formação e competência.
                    p <strong>96% DE TAXA DE FIDELIZAÇÃO</strong>
                    p Os serviços oferecidos e os seus resultados são muito eficazes, fazendo com que uma consumidora após testar, sinta a necessidade e vontade de voltar a fazer este serviço conosco.
                    p <strong>50 FRANQUIAS EM 3 CONTINENTES</strong>
                    p Inaugurou a sua primeira unidade em Portugal, no ano de  2007. Sendo líder deste segmento no mercado europeu, iniciou a sua expansão pela América do Sul e, em 2015, chega ao Brasil. Em 2018, chegou ao continente africano, e Angola foi a sua porta de entrada.
                    p <strong>PRODUTOS DE MARCA PRÓPRIA</strong>
                    p Os produtos Wiñk são produzidos no Brasil e representam soluções para cada uma das necessidades das clientes. Em cada serviço é utilizado um produto próprio na cliente. Cada um dos nossos produtos possui um vídeo tutorial que explica como utilizá-lo.
                    p <strong>VANTAGENS DO FRANQUEADO WIÑK</strong>
                    li Marca pioneira e de referência no mercado;
                    li  Conceito inovador, único e eficaz;
                    li  Projeto com sucesso comprovado e fortalecido ao longo dos 12 anos de existência no mercado;
                    li  Investimento a baixo custo;
                    li  Taxa de fidelização de clientes em torno de 96%;
                    li  Retorno de investimento a partir de 18 meses até 36 meses;
                    li  Custos operacionais baixos, proporcionando uma margem líquida entre 20% a 30% do resultado bruto.
        .download
            h2.title GOSTARIA DE SABER MAIS INFORMAÇÕES?
            span.subtitle Descarregue o PDF abaixo para mais informações acerca do franchising Wiñk, no seu país.
            .link
                a(href="https://wink.pt/wp-content/uploads/2019/03/Folder-Brasil-2019.pdf" target="_blank")
                    i.fas.fa-download <span>Brasil 2019</span>
        include footer_lojas.pug
    include footer.pug