header
    .wrapper
        .logo
            img(src="../images/logo_black.png", alt="Wink Brasil")
        .menu
            ul
                li
                    span#about(href="#") A wink
                        .about_dropdown
                            ul
                                li
                                    a(href="#") Sobre nós
                                li
                                    a(href="#") Tabela de preços
                                li
                                    a(href="#") franchising
                li
                    a(href="#") Agendamento Online
                li
                    a(href="#") Serviços
                li
                    span#about(href="#") Contatos
                        .about_dropdown
                            ul
                                li
                                    a(href="#") Lojas
                                li
                                    a(href="#") Recrutamento
        .bar
            a(href="#")
                span
                span
                span
#menu_bar
    .close
        a(href="#")
            i.fas.fa-times
    .logo
        img(src="../images/logo_bar.png", alt="")
    .content
        p Sede: Av. das Américas, 500- Bloco: 2 Sala: 119 Rio de Janeiro – RJ
        p <strong>contato@winkbrasil.com.br</strong>
        p <strong>(21) 3596-2657</strong>
    .social
        a(href="#")
            i.fab.fa-facebook-f
        a(href="#")
            i.fab.fa-instagram
        a(href="#")
            i.fab.fa-pinterest
        a(href="#")
            i.fab.fa-youtube