include head.pug
body
    include header.pug
    .lojas
        section.banner
            .item
                img(src="../images/banner-contactos.jpg", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Lojas Quiosques 
                        h2.title Contatos
                .text
                    p Encontre a loja mais próxima!
            .slider_contact
                .item
                    img(src="../images/slider_contatos/1.jpg", alt="")
                .item
                    img(src="../images/slider_contatos/2.jpg", alt="")
                .item
                    img(src="../images/slider_contatos/3.jpg", alt="")
                .item
                    img(src="../images/slider_contatos/4.jpg", alt="")
                .item
                    img(src="../images/slider_contatos/5.jpg", alt="")
    include footer.pug