include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 MICROBLADING
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/microblading.png", alt="")
                        //-.video
                        //-<iframe width="533" height="300" src="https://www.youtube.com/embed/_cdVg6XP_cs" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p A Dermopigmentação é realizada com um aparelho elétrico, que introduz o pigmento na derme. A técnica fio a fio dá um efeito natural, que confunde o traço com os seus próprios pelos, preenchendo e delineando as suas sobrancelhas. A técnica ombré shadow é uma variante para sombreamento, onde a parte inicial da sobrancelha não fica tão marcada, criando um efeito degradê e natural.
                        p A Microblading é realizada com um indutor manual e uma lâmina a que chamamos de Tebori. Os fios são feitos com mais precisão, tornando os traços mais finos e delicados e trazendo mais naturalidade para as suas sobrancelhas.
                        p Antes de cada tratamento, é feita uma avaliação criteriosa que permite à cliente, juntamente com a sua técnica especializada, escolher a forma, a cor e o método a aplicar.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 1 hora
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 6 meses - 1 ano
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Sobrancelhas + definidas com naturalidade