include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 PERMANENTE E COLORAÇÃO DE CÍLIOS
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/PERMANENTE_COLORACAO_CILIOS_ANTES.jpg", alt="")
                        .media
                            img(src="../images/product/PERMANENTE_COLORACAO_CILIOS_DEPOIS.jpg", alt="")
                        .video
                            <iframe width="533" height="300" src="https://www.youtube.com/embed/irJOpM4CNc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p Permanente de Cílios – ideal para quem tem cílios retos e pequenos. Com este serviço, o efeito será cílios evidentes, com a ilusão de estarem mais longos, pois ficam mais curvados. O efeito de cílios volumosos tem uma duração aproximada de 2 meses. Não tem o mesmo impacto das extensões de cílios, mas é uma boa alternativa para realçar ainda mais o olhar.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 35 minutos
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 2 meses
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Cílios + curvas
                        h3.title_content O que é?      
                        p Coloração de Cílios – É um serviço ideal para quem pretende escurecer o tom dos seus cílios. O efeito da coloração de cílios é o de dar alguma tonalidade aos cílios, a tintura de pode ser feita em várias cores. Ideal para quem tem cílios muito claros. Tem a vantagem de que não borra, nem necessitamos retirar com desmaquilhante diariamente.
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 35 minutos
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 2 meses
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Cílios + evidentes e destacados