include head.pug
body
    include header.pug
    .prices
        section.banner
            .item
                img(src="../images/banner-precario.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle CONHEÇA OS NOSSOS PREÇOS • SERVIÇOS E PRODUTOS
                        h2.title TABELA DE PREÇOS
                .tab_prices
                    .box_price
                        .item_price
                            h3.title_price THREADING
                            .table
                                .item_table
                                    .first SOBRANCELHA
                                    .second <span>&nbsp;</span>
                                    .third R$55
                            .table
                                .item_table
                                    .first BUÇO
                                    .second <span>&nbsp;</span>
                                    .third R$25
                            .table
                                .item_table
                                    .first SOBRANCELHA + BUÇO
                                    .second <span>&nbsp;</span>
                                    .third R$70
                            .table
                                .item_table
                                    .first SOBRANCELHA + HENNA
                                    .second <span>&nbsp;</span>
                                    .third R$80
                            .table
                                .item_table
                                    .first ROSTO
                                    .second <span>&nbsp;</span>
                                    .third R$150
                                .condition
                                    span.text inclui Design de Sobrancelha
                                    span.special Preço Especial
                        .item_price
                            h3.title_price SOBRANCELHA
                            .table
                                .item_table
                                    .first DESONDULAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$55
                            .table
                                .item_table
                                    .first COLORAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$25
                            .table
                                .item_table
                                    .first DESONDULAÇÃO + COLORAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$70
                                .condition.only
                                    span.special Preço Especial
                            .table
                                .item_table
                                    .first HENNA
                                    .second <span>&nbsp;</span>
                                    .third R$80
                        .item_price
                            h3.title_price TÉCNICAS SEMI PERMANENTES
                            .table
                                .item_table
                                    .first AVALIAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$60
                            .table
                                .item_table
                                    .first DERMOPIGMENTAÇÃO ESFUMADA
                                    .second <span>&nbsp;</span>
                                    .third R$480
                            .table
                                .item_table
                                    .first DERMOPIGMENTAÇÃO FIO A FIO
                                    .second <span>&nbsp;</span>
                                    .third R$630
                            .table
                                .item_table
                                    .first MICROBLADING
                                    .second <span>&nbsp;</span>
                                    .third R$690
                            .table
                                .item_table
                                    .first CONTORNO DOS OLHOS
                                    .second <span>&nbsp;</span>
                                    .third R$550
                                .condition
                                    span.text INFERIOR - R$320 | SUPERIOR - R$320
                            .table
                                .item_table
                                    .first COLORAÇÃO LABIAL
                                    .second <span>&nbsp;</span>
                                    .third a partir de R$620
                            .table
                                .item_table
                                    .first ILUMINADOR DE SOBRANCELHA
                                    .second <span>&nbsp;</span>
                                    .third R$330
                            .table
                                .item_table
                                    .first SOBRANCELHA COMPACTA
                                    .second <span>&nbsp;</span>
                                    .third R$480
                            .table
                                .item_table
                                    .first DESPIGMENTAÇÃO DE SOBRANCELHA
                                    .second <span>&nbsp;</span>
                                    .third R$290
                        .item_price
                            h3.title_price CÍLIOS
                            .table
                                .item_table
                                    .first COLOCAÇÃO DE CÍLIOS DE SEDA
                                    .second <span>&nbsp;</span>
                                    .third R$280
                                .condition
                                    span.text R$115 (Manutenção 2 semanas) | R$135 (Manutenção 3 semanas) | R$165 (Manutenção 4 semanas)
                            .table
                                .item_table
                                    .first REMOÇÃO DE CÍLIOS
                                    .second <span>&nbsp;</span>
                                    .third R$50
                                .condition.only
                                    span.special Preço Especial
                            .table
                                .item_table
                                    .first PERMANENTE
                                    .second <span>&nbsp;</span>
                                    .third R$110
                            .table
                                .item_table
                                    .first COLORAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$75
                            .table
                                .item_table
                                    .first PERMANENTE + COLORAÇÃO
                                    .second <span>&nbsp;</span>
                                    .third R$150
                                .condition.only
                                    span.special Preço Especial
                        .item_price
                            h3.title_price PRODUTOS
                            .table
                                .item_table
                                    .first DEMAQUILANTE
                                    .second <span>&nbsp;</span>
                                    .third R$45,90
                                .condition.only
                                    span.special Preço Especial
                            .table
                                .item_table
                                    .first LÁPIS LIFT & DRAW
                                    .second <span>&nbsp;</span>
                                    .third R$49,90
                            .table
                                .item_table
                                    .first LÁPIS DE SOBRANCELHA
                                    .second <span>&nbsp;</span>
                                    .third R$29,90
                                .condition
                                    span.text (MARROM TERRA OU BLONDE)
                                    span.special Preço Especial
                            .table
                                .item_table
                                    .first SÉRUM PARA CÍLIOS
                                    .second <span>&nbsp;</span>
                                    .third R$79,90
                            .table
                                .item_table
                                    .first ESPELHO PORTÁTIL
                                    .second <span>&nbsp;</span>
                                    .third R$29.90
                                .condition.only
                                    span.special Preço Especial

    include footer.pug