include head.pug
body
    include header.pug
    .text_legal
        section.content
            .wrapper
                .box
                    h2.title_bg
                    .item
                        span.subtitle
                        h2.title Programa de Fidelização 
                .text
                    p <strong>DESCRIÇÃO DO PROGRAMA DE FIDELIZAÇÃO</strong>
                    p 1. Programa de Fidelização Wiñk, atribui aos clientes um registo por cada serviço de threadingde sobrancelha, como serviço individual, sendo que ao décimo registo tem oferta de produto.
                    p 2. A adesão ao programa é gratuita.
                    p 3. O cliente pode aderir ao programa em qualquer loja ou quiosque Wiñk em Portugal.
                    p 4. A identificação do cliente na participação no programa é pessoal e intransmissível, não podendo ser cedida a terceiros, sendo o cliente responsável por todas as operações realizadas para a sua conta ou a partir dela.
                    p 5. No termo do Programa de Fidelização Wiñk, o cliente aceita que em caso de pedir a eliminação da sua ficha cliente, eventuais pontos do Programa de Fidelização que tenha a seu favor sejam automaticamente anulados, não existindo qualquer direito ao ressarcimento do cliente por esse facto.
                    p <strong>BENEFÍCIOS E CONDIÇÕES DE UTILIZAÇÃO</strong>
                    p 1. Programa de Fidelização Wiñk, atribui aos clientes um registo por cada serviço de threading de sobrancelha, como serviço individual, sendo que ao décimo registo o serviço é gratuito.
                    p 2. O serviço de threading de sobrancelha é apenas contabilizado para o Programa de Fidelização, como serviço individual, sendo que se estiver incluído numa promoção, preço especial ou oferta, não é contabilizado.
                    p 3. Pontualmente Programa de Fidelização Wiñk, poderá promover ofertas especiais de carácter temporário.
                    p 4. Todas as lojas e quiosques Wiñk de Portugal aderem ao programa de Fidelização.
                    p 5. A Wiñk reserva-se o direito de alterar o critério de atribuição de benefícios previstos no Programa de Fidelização Wiñk.
                    p 6. É condição da utilização dos benefícios a identificação dos clientes beneficiários do programa Programa de Fidelização Wiñk,, através dos dados pessoais, para o efeito, requeridos ao cliente.
                    p 7. Os benefícios conferidos pelo programa Programa de Fidelização Wiñk não são compatíveis, nem acumuláveis com os de outras promoções em vigor, salvo nos casos em que o contrário seja expressamente indicado.
                    p <strong>CANCELAMENTO E ALTERAÇÕES AO PROGRAMA</strong>
                    p 1. A Wiñk reserva-se o direito de cancelar o acesso ao programa Programa de Fidelização Wiñk a clientes que não cumpram as condições descritas no presente programa ou que o utilizem de forma abusiva e/ou fraudulenta.
                    p A 2. Wiñk reserva-se o direito de cancelar ou alterar as condições do programa Programa de Fidelização Wiñk.
                    p A 3. Wiñk reserva-se o direito de cancelar a participação no programa Programa de Fidelização Wiñk sempre que o cliente não respeite os Termos e Condições Gerais de tal programa.
                    p A 4. qualquer momento o cliente pode cancelar a sua participação no Programa de Fidelização Wiñk, bastando para tal comunicar essa sua decisão a um gerente de loja/quiosque Wiñk ou enviar um email para o seguinte endereço de correio eletrónico: RGPD.NAO@wink.pt. O cancelamento implica a saída do cliente do programa, terminando o relacionamento do mesmo com o dito programa, extinguindo-se, por conseguinte, os benefícios do cliente a esse associados.
                    p <strong>PRIVACIDADE DE DADOS PESSOAIS</strong>
                    p 1. A Wiñk garante a segurança, integridade e confidencialidade dos dados pessoais que lhe sejam fornecidos pelo cliente. A leitura do presente documento não dispensa a consulta da Política de Privacidade da Wiñk, que o informará sobre o tratamento e a proteção dos seus dados pessoais pela Wiñk no presente programa de fidelização e que deve ser consultada por todos os clientes que participem, através do seguinte endereço: https://wink.pt/politica-de-privacidade/.
                    p Alternativamente, pode solicitar uma cópia em papel em qualquer loja.
                    p 2. O participante poderá, a todo o momento, exercer os direitos previstos na legislação de proteção de dados pessoais, fazendo-o por escrito para o endereço postal da Wiñk Rua Sampaio e Pina nº70-1 andar 1070-250 Lisboa ou enviando uma mensagem de correio eletrónico para o endereço geral@wink.pt. O cliente deve, nessa ocasião, proceder a sua identificação e indicar a situação que constitui objeto da sua solicitação. Para saber mais informações consulte a Política de Privacidade.
                    p Lei aplicável e jurisdição
                    p Os Termos e Condições do Programa de Fidelização Wiñk encontram-se regidos pela lei portuguesa e quaisquer conflitos relativos à sua interpretação e aplicação serão decididos pelo Tribunal Judicial de Lisboa.

    include footer.pug