include head.pug
body
    include header.pug
    .recruitment
        section.banner
            .item
                img(src="../images/banner-recrutamento.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Lojas Quiosques 
                        h2.title Recrutamento
                .text
                    p Quer fazer parte da equipe Wiñk?
                    p Transformar o universo do olhar de todas as mulheres?
                    p Então, envie o seu currículo para contato@winkbrasil.com.br
    include footer.pug