include head.pug
body
    include header.pug
    .scheduling
        section.banner
            .item
                img(src="../images/banner-agendamento.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Agendamento online 
                        h2.title Lojas Brasil
                .lojas
                    .item
                        img(src='../images/lojas/americas.jpg' alt='')
                        h3 Wiñk Am&eacute;ricas
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-americas') aqui
                    .item
                        img(src='../images/lojas/barra-shopping.png' alt='')
                        h3 Wiñk BarraShopping
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-barra') aqui
                    .item
                        img(src='../images/lojas/botafogo-praia.jpg' alt='')
                        h3 Wiñk Botafogo
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink') aqui
                    .item
                        img(src='../images/lojas/downtown.jpg' alt='')
                        h3 Wiñk Downtown
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/winkbrasil') aqui
                    .item
                        img(src='../images/lojas/gavea.jpg' alt='')
                        h3 Wiñk Gavea
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-gavea') aqui
                    .item
                        img(src='../images/lojas/ipanema.jpg' alt='')
                        h3 Wiñk Ipanema
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-ipanema') aqui
                    .item
                        img(src='../images/lojas/metropolitano.jpg' alt='')
                        h3 Wiñk Shopping Metropolitano
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-metropolitano') aqui
                    .item
                        img(src='../images/lojas/parkshopping.jpg' alt='')
                        h3 Wiñk ParkShopping
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-parkshopping') aqui
                    .item
                        img(src='../images/lojas/recreio.jpg' alt='')
                        h3 Wiñk RecreioShooping
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-recreio') aqui
                    .item
                        img(src='../images/lojas/riosul.jpg' alt='')
                        h3 Wiñk Shopping Rio Sul
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-rio-sul ') aqui
                    .item
                        img(src='../images/lojas/tijuca.jpg' alt='')
                        h3 Wiñk Shopping Tijuca
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-tijuca') aqui
                    .item
                        img(src='../images/lojas/viaparque.jpg' alt='')
                        h3 Wiñk Via parque
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-via-parque ') aqui
                    .item
                        img(src='../images/lojas/bolevard.jpg' alt='')
                        h3 Boulevard
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/winksobrancelhasboulevard') aqui
                    .item
                        img(src='../images/lojas/novaamerica.jpg' alt='')
                        h3 Nova America
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/wink-sobrancelhas-nova-america') aqui
                    .item
                        img(src='../images/lojas/daimond.jpg' alt='')
                        h3 Diamondmall 
                        p
                        | Marque sua consulta 
                        a(href='https://www.trinks.com/winksobrancelhasdiamondmall') aqui
        include footer.pug
