include head.pug
body
    include header.pug
    .scheduling
        section.banner
            .item
                img(src="../images/banner-agendamento.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Agendamento online 
                        h2.title Lojas Brasil
                .lojas
                    .item
                        img(src='../images/lojas/americas.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-americas') Wiñk Américas
                    .item
                        img(src='../images/lojas/barra-shopping.png' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-barra') Wiñk BarraShopping
                    .item
                        img(src='../images/lojas/botafogo-praia.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink') Wiñk Botafogo
                        
                    .item
                        img(src='../images/lojas/downtown.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/winkbrasil') Wiñk Downtown
                    .item
                        img(src='../images/lojas/gavea.jpg' alt='')
                        h3
                            a(href='https://www.trinks.com/wink-sobrancelhas-gavea') Wiñk Gávea
                    .item
                        img(src='../images/lojas/ipanema.jpg' alt='')
                        h3
                            a(href='https://www.trinks.com/wink-sobrancelhas-ipanema') Wiñk Ipanema
                    .item
                        img(src='../images/lojas/metropolitano.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-metropolitano') Wiñk Metropolitano
                    .item
                        img(src='../images/lojas/parkshopping.jpg' alt='')
                        h3
                            a(href='https://www.trinks.com/wink-sobrancelhas-parkshopping') Wiñk ParkShopping
                    .item
                        img(src='../images/lojas/recreio.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-recreio') Wiñk Recreio
                    .item
                        img(src='../images/lojas/riosul.jpg' alt='')
                        h3
                            a(href='https://www.trinks.com/wink-sobrancelhas-rio-sul ') Wiñk Rio Sul
                    .item
                        img(src='../images/lojas/tijuca.jpg' alt='')
                        h3
                            a(href='https://www.trinks.com/wink-sobrancelhas-tijuca') Wiñk Tijuca
                    .item
                        img(src='../images/lojas/viaparque.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-via-parque ') Wiñk Via parque
                    .item
                        img(src='../images/lojas/bolevard.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/winksobrancelhasboulevard') Wiñk Boulevard
                    .item
                        img(src='../images/lojas/novaamerica.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/wink-sobrancelhas-nova-america') Wiñk Nova América
                    .item
                        img(src='../images/lojas/daimond.jpg' alt='')
                        h3 
                            a(href='https://www.trinks.com/winksobrancelhasdiamondmall') Wiñk Diamondmall 
                    .item
                        img(src='../images/lojas/plaza.jpeg' alt='')
                        h3  
                            a(href='#') Wiñk Plaza Niterói
                        
        include footer.pug
