include head.pug
body
    include header.pug
    .services
        section.banner
            .item
                img(src="../images/banner-servicos.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Lojas Quiosques 
                        h2.title Recrutamento
                .tabs
                    .menu_tabs
                        ul
                            li Ver todos
                            li Cílios
                            li Sobrancelhas
                            li Técnicas semi-permanentes
                    .box_tabs
                        a(href="threading.html")
                            .item_tab
                                .bg
                                    .content
                                        h2.title Threading    
                                        span.subtitle Sobrancelhas
                        a(href="henna.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title Henna    
                                        span.subtitle Sobrancelhas
                        a(href="desondulacao-de-sobrancelhas.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title Desondulação de sobrancelhas    
                                        span.subtitle Sobrancelhas
                        a(href="dermopigmentacao.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title dermopigmentação    
                                        span.subtitle Sobrancelhas
                        a(href="microblading.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title Microblading    
                                        span.subtitle técnicas semi-<br>permanentes
                        a(href="permanente-e-colocacao-de-cilios.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title permanente e colocação de cílios
                                        span.subtitle cílios
                        a(href="extensao-de-cilios.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title extensão de cílios    
                                        span.subtitle cílios
                        a(href="sobrancelha-compacta.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title sobrancelha compacta    
                                        span.subtitle técnicas semi-<br>permanentes
                        a(href="contorno-de-olhos.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title contorno de olhos    
                                        span.subtitle técnicas semi-<br>permanentes
                        a(href="coloracao-labial.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title coloração labial    
                                        span.subtitle técnicas semi-<br>permanentes
                        a(href="iluminador-de-sobrancelhas.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title iluminador de sobrancelhas    
                                        span.subtitle técnicas semi-<br>permanentes
                        a(href="coloracao-de-sobrancelhas.html")            
                            .item_tab
                                .bg
                                    .content
                                        h2.title coloração de sobrancelhas    
                                        span.subtitle técnicas semi-<br>permanentes
    include footer.pug