include head.pug
body
    include header.pug
    .services
        section.banner
            .item
                img(src="../images/banner-servicos.png", alt="")
        section.content
            .wrapper
                .box
                    h2.title_bg Wiñk
                    .item
                        span.subtitle Lojas Quiosques 
                        h2.title Recrutamento
                .tabs
                    .menu_tabs
                        ul
                            li Ver todos
                            li Cílios
                            li Sobrancelhas
                            li Técnicas semi-permanentes
                    .box_tabs
                        .item_tab
                            .bg
                                .content
                                    h2.title Threading    
                                    span.subtitle Sobrancelhas
                        .item_tab
                            .bg
                                .content
                                    h2.title Threading    
                                    span.subtitle Sobrancelhas
                        .item_tab
                            .bg
                                .content
                                    h2.title Threading    
                                    span.subtitle Sobrancelhas
                        .item_tab
                            .bg
                                .content
                                    h2.title Threading    
                                    span.subtitle Sobrancelhas
    include footer.pug