include head.pug
body
    include header.pug
    .product
        .title
            .wrapper
                h2 Threading
        .wrapper
            .content
                .box
                    .item
                        .media
                            img(src="../images/product/THREADING_ANTES.jpg", alt="")
                        .media
                            img(src="../images/product/THREADING_DEPOIS.jpg", alt="")
                        .video
                            <iframe width="533" height="300" src="https://www.youtube.com/embed/_cdVg6XP_cs" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .item
                        h3.title_content O que é?      
                        p Técnica de depilação delicada ancestral oriunda do médio oriente e sul asiático. Com apenas uma linha de algodão remove os pelos pela raiz, permitindo uma melhor definição das suas sobrancelhas. A depilação com linha pode ser feita em qualquer pessoa, devido aos seus métodos não invasivos de remoção dos pelos. É uma técnica passível de ser utilizada em toda a face, testa, bochechas, queixo ou pescoço.     
                        h3.title_content Vantagens
                        .check
                            .check_item
                                i.fa.fa-check-circle
                                p Delicado para a pele (não permite que ocorram irritações, vermelhidão e lesões nas zonas depiladas. Não há risco de queimadura, não deixa marcas, ideal para peles sensíveis);
                            .check_item
                                i.fa.fa-check-circle
                                p Rápido e pouco doloroso (não puxa nem agarra a pele);
                            .check_item
                                i.fa.fa-check-circle
                                p Remove os pelos pela raiz;
                            .check_item
                                i.fa.fa-check-circle
                                p Melhor definição das suas sobrancelhas;
                            .check_item
                                i.fa.fa-check-circle
                                p Natural e higiênico (não são usados produtos agressivos para a pele e no fim de cada utilização o fio vai para o lixo, nunca sendo reutilizado);
                        .info
                            .info_item
                                i.fa.fa-clock-o
                                .text
                                    p.title_info Tempo de serviço
                                    p.text_info 15 minutos
                            .info_item
                                i.fa.fa-calendar-times-o
                                .text
                                    p.title_info DURABILIDADE
                                    p.text_info 3-4 semanas
                            .info_item
                                i.fa.fa-check
                                .text
                                    p.title_info RESULTADO
                                    p.text_info Sobrancelhas + definidas
                            .info_item
                                i.fa.fa-location-arrow
                                .text
                                    p.title_info ONDE FAZER
                                    p.text_info Em todas as lojas Wiñk